.detail-page--container {
  padding: 0 2rem;
  font-size: 16px;

  &__back-button {
    margin-left: 1rem;
    margin-bottom: 10px;
  }

  .detail-page {

    display: flex;
    flex-wrap: wrap;

    &__flag-container {
      width: 100%;
      padding: 0 1rem;
    }

    &__info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 0 1rem;
    }

    img {
      max-height: 400px;
      max-width: 100%;
    }

    &__first-column {
      width: 100%;
    }

    &__second-column {
      width: 100%;
    }

    @media (min-width: 800px) {
      &__flag-container {
        width: 40%;
      }
      &__info {
        width: 60%;


      }
      &__first-column {
        width: 50%;
      }
      &__second-column {
        width: 50%;
      }

    }

    h1 {
      width: 100%;
    }
  }
}